/* Use chrome to try out things out lol */

/* === Globals === */

:root {
  --main-color-rgb: 187, 189, 255;
  --border: 0.75px solid #bbbdff;

  /* == Typography == */

  /* Titles */
  --title-color: #bbbdff;
  --title-weight: bold;

  --title-size-md: 0.8rem;
  --title-size-lg: 3rem;

  /* Text (Main) */
  --text-color: #bbbdff;
  --text-weight: 100;

  --text-size-mdlg: 1rem;
  --text-size-lg: 1.6rem;
}
html {
  min-height: 100%; /* make sure it is at least as tall as the viewport */
  position: relative;
  /* overflow: hidden; */
}
body {
  height: 100%; /* force the BODY element to match the height of the HTML element */
  background-color: #200e2e;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 60px;
  margin-right: 60px;
}

/* === Text Styles === */
/* .text-sm {
  font-size: 0.7rem;
  color: #bbbdff;
  font-weight: 100;
}
.text-md {
  font-size: 0.8rem;
  color: #bbbdff;
  font-weight: 100;
}

/* === Horizontal Rules === */
.employee-separator {
  margin: 20px 20px;
  height: 10px;
  border-radius: 80%;
  background-color: #643a525c;
  border: none;
}

/* == Sidebars === */
.sidebar-right {
  margin-left: 100px;
  margin-right: 30px;
}

#profit {
  margin-right: 20px;
  font-size: var(--title-size-lg);
  color: var(--title-color);
  font-weight: var(--title-weight);
}

/* === Containers === */
.game-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.game-container > div:first-child {
  grid-column: span 2;
}
.shop-container {
  display: flex;
}
.worker-interface {
  display: flex;
}
.worker-interface :last-child {
  margin-right: 5px;
}

.worker-interface :first-child {
  margin-left: 5px;
}
.worker-canvas {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90vh;
  padding-top: 30px;
  padding-right: 20px;
  overflow: auto;
}
.worker-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-basis: min-content;
  /* contain: size; */
  margin-bottom: 30px;
  border: var(--border);

  /* display: grid;
  grid-template-columns: repeat(4, auto); */
}
.sprite-container {
  align-items: center;
  display: flex;
  justify-content: center;
}
.sprite-container img {
  max-height: 30%;
  width: auto;
  border: var(--border);
}
.abilities-container {
  display: contents;
  width: 100%;
}

/* === Stats === */

.stat-interface {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.stat-wrapper {
  padding-right: 7px;
  padding-left: 7px;
  border: var(--border);

  font-size: var(--title-size-md);
  color: var(--title-color);
  font-weight: var(--title-weight);
}

.stat-value {
  display: block;
  font-size: var(--text-size-lg);
}

/* === Buttons === */
button {
  color: var(--text-color);
  background-color: #301545;
  font-size: var(--text-size-mdlg);
  font-weight: var(--text-weight);
}

button:hover + .reveal {
  display: block;
  position: absolute;
}

.reveal {
  display: none;
}
/* button{border:5px solid #ff0000} */

/* === Scrollbar Styling === */
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(var(--main-color-rgb), 0.6);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(var(--main-color-rgb), 0.8);
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: rgba(var(--main-color-rgb), 0.6) transparent;
}
